@media (min-width: 1000px) {
    .detail {
        flex: 1;
        /* Eto toje */
        display: flex;
        flex-direction: column;

        .user {
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            border-bottom: 1px solid #dddddd35;
            position: relative;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

            .arrowBack {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 40px;
                left: 15px;
            }
        }

        .groupSettings {
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-bottom: 1px solid #dddddd35;

            .btn-div {
                font-size: 15px;
                background-color: rgba(17, 25, 40, 0.5);
                color: white;
                padding: 10px 15px;
                text-align: center;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all .5s ease;

                &:hover {
                    background-color: rgba(32, 48, 78, 0.5);
                }
            }

            button {
                background-color: rgba(17, 25, 40, 0.5);
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all .5s ease;

                &:hover {
                    background-color: rgba(32, 48, 78, 0.5);
                }
            }

            .nameChange {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                width: 100%;

                button {
                    order: 2;
                    transition: all .5s ease;
                }

                input {
                    background: transparent;
                    width: 50%;
                    border: none;
                    outline: none;
                    color: white;
                    background-color: rgba(17, 25, 40, 0.5);
                    border-radius: 5px;
                    order: 1;
                    transition: all .5s ease;
                    padding: 0 15px;
                }
            }

            .members {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .userElem {
                    display: flex;
                    justify-content: space-between;

                    .userData {
                        display: flex;
                        gap: 10px;

                        img {
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                        }

                        span {
                            font-size: 15px;
                        }
                    }

                    button {
                        background-color: rgba(17, 25, 40, 0.5);
                        color: white;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: all .3s ease;

                        &:hover {
                            background-color: rgba(18, 45, 95, 0.5);
                        }
                    }
                }
            }
        }

        .info {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            /* I eto */
            flex: 2;

            .option {
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 18px
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        background-color: rgba(17, 25, 40, 0.3);
                        border-radius: 50%;
                        padding: 10px;
                        cursor: pointer;
                        transition: all .3s ease;

                        &:hover {
                            background-color: rgba(32, 48, 78, 0.5);
                        }
                    }
                }

                .file-list {
                    display: flex;
                    margin-top: 10px;
                    flex-direction: column;
                    gap: 5px;

                    .file-list-elem {
                        text-decoration: none;
                        max-width: fit-content;
                        overflow: hidden;
                        color: white
                    }

                    a:visited {
                        color: white;
                        text-decoration: none;
                    }
                }

                .photos {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 20px;


                    .photoItem {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .download {
                            width: 30px;
                            height: 30px;
                            background-color: rgba(17, 25, 40, 0.3);
                            padding: 10px;
                            border-radius: 50%;
                            cursor: pointer;
                        }

                        .photoDetail {
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 5px;
                                object-fit: cover;
                            }

                            span {
                                font-size: 14px;
                                color: lightgray;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            /* Pod voprosom */

            .btn-div {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: flex-end;
                flex: 2;
            }

            button {
                padding: 15px;
                background-color: rgba(230, 70, 105, 0.553);
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(155, 41, 66, 0.553);
                }

                &.logout {
                    padding: 10px;
                    background-color: #1a73e8;

                    &:hover {
                        background-color: #1a73e8c9;
                    }
                }

            }
        }
    }
}

@media (min-width: 300px) and (max-width: 1000px) {
    .detail {
        /* flex: 1; */
        /* Eto toje */
        display: flex;
        flex-direction: column;

        .user {
            padding: 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            border-bottom: 1px solid #dddddd35;
            position: relative;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }

            .arrowBack {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 40px;
                left: 15px;
            }
        }

        .info {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            /* I eto */
            flex: 2;

            .option {
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 16px
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        background-color: rgba(17, 25, 40, 0.3);
                        border-radius: 50%;
                        padding: 5px;
                        cursor: pointer;
                    }
                }

                .file-list {
                    display: flex;
                    margin-top: 5px;
                    flex-direction: column;
                    gap: 2px;

                    .file-list-elem {
                        text-decoration: none;
                        max-width: 200px;
                        word-wrap: break-word;
                        overflow: hidden;
                        color: white
                    }

                    a:visited {
                        color: white;
                        text-decoration: none;
                    }
                }

                .photos {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 20px;


                    .photoItem {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .download {
                            width: 20px;
                            height: 20px;
                            background-color: rgba(17, 25, 40, 0.3);
                            padding: 3px;
                            border-radius: 50%;
                            cursor: pointer;
                        }

                        .photoDetail {
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 5px;
                                object-fit: cover;
                            }

                            span {
                                font-size: 14px;
                                color: lightgray;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            /* Pod voprosom */

            .btn-div {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: flex-end;
                flex: 2;
            }

            button {
                padding: 15px;
                background-color: rgba(230, 70, 105, 0.553);
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(155, 41, 66, 0.553);
                }

                &.logout {
                    padding: 10px;
                    background-color: #1a73e8;

                    &:hover {
                        background-color: #1a73e8c9;
                    }
                }

            }
        }
    }
}