.tooltip {
    /* position: relative; */
    display: block;
}

.tooltip-text {
    position: absolute;
    /* top: 20px;
    left: 10px; */
    transform: translate(-9.8vw, -7.6vh);
    color: white;
    padding: 5px;
    font-size: 12px;
    background-color: rgba(17, 25, 40, 0.3);
    border-radius: 2px;
    text-align: center;
    z-index: 100;
    white-space: nowrap;
    opacity: 0;
    /* margin-top: -10vh;
    margin-left: -9vw; */
    transition: visibility 0s, opacity .5s;;
}

.tooltip:hover > .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 300px) and (max-width: 1000px) { 
    .tooltip.text {
        display: none;
    }
}
